<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <typeAliases>
        <typeAlias alias="History" type="com.xiahe.entity.History"/>
        <typeAlias alias="Orderr" type="com.xiahe.entity.Orderr"/>
        <typeAlias alias="Other" type="com.xiahe.entity.Other"/>
        <typeAlias alias="ProxyE" type="com.xiahe.entity.ProxyE"/>
        <typeAlias alias="Recharge" type="com.xiahe.entity.Recharge"/>
        <typeAlias alias="User" type="com.xiahe.entity.User"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/proxy"/>
                <property name="username" value="root"/>
                <property name="password" value="xiahe"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/HistoryMapper.xml"/>
        <mapper resource="mapper/OrderrMapper.xml"/>
        <mapper resource="mapper/OtherMapper.xml"/>
        <mapper resource="mapper/ProxyEMapper.xml"/>
        <mapper resource="mapper/RechargeMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

</configuration>
